*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

input, a, li, button {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header-styles */
#header {
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 .8rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 10px #111;
    z-index: 10;
}

#search-div, .ham-holder {
    width: 20%;
}

#header-title {
    font-family: var(--heading-font);
    width: auto;
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem;
    padding: .3rem 0 .5rem;
}

#header-title::first-letter {
    background-image: url(https://wwpknightlynews.files.wordpress.com/2014/08/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg);
    -webkit-background-clip: text;
    font-size: 2.6rem;
    color: #ffffff80;
}

#search-div {
    min-width: 350px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-black);
    border-radius: .3rem;
    position: relative;
}

#search-icon,#inp-clear-btn {
    width: 30px;
    margin: 0.5rem;
    filter: brightness(.8);
    cursor: pointer;
    border-radius: .3rem;
}

#inp-clear-btn{
    display: none;
}

#inp-clear-btn:focus{
    outline:none;
}
#search-icon:hover,#inp-clear-btn:hover {
    filter: brightness(1);
}

#search-inp-fld {
    overflow: hidden;
    flex-grow: 1;
    border: none;
    padding: 0 .8rem;
    border-left: 2px dashed var(--secondary-white);
}

#search-inp-fld::placeholder {
    color: #ffffff80;
}

#search-inp-fld:focus {
    outline: none;
}

#ham-btn {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: .5rem;
    border-radius: 10%;
    cursor: pointer;
}

#ham-btn>span {
    width: 23px;
    height: 2px;
    margin: .14rem;
    background-color: var(--primary-white);
    border-radius: 2rem 2rem 0 0;
    box-shadow: 1px 1px 2px var(--secondary-white);
}

#ham-btn>span:first-of-type {
    transform: skewY(2deg);
}

#ham-btn>span:last-of-type {
    transform: skewY(2deg);
}

#ham-btn>span:nth-of-type(2) {
    transform: skewY(-2deg);
    background-color: #bbbbc0;
}

#ham-btn:hover {
    background-color: #ffffff10;
}

#main {
    margin: 120px 100px;
    --secondary-black: #1e1d1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* news card styles */
.category-topics-container,.searched-topic-container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 2rem;
    border-bottom: 1px dashed #11111125;
    padding: 1.5rem 0;
}

.searched-topic-container  .news-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 .heading {
    font-family: var(--primary-font);
    font-size: 2rem;
    text-transform: uppercase;
    align-self: center;
    color: #555555;
}

.heading::first-letter {
    font-size: 2.4rem;
    background-image: url(https://wwpknightlynews.files.wordpress.com/2014/08/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg);
    -webkit-background-clip: text;
    color: #55555599;
}

.arrow-div {
    user-select: none;
    align-self: center;
}

.arrow-div svg {
    cursor: pointer;
    margin: 0 .5rem;
    color: #444;
}

.arrow-div svg:hover {
    color: var(--secondary-black);
}

.news-card-wrapper {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.news-card-holder {
    color: var(--primary-white);
    margin: 4rem 3rem;
    perspective: 1000px;
}

.news-card {
    width: 400px;
    height: 370px;
    position: relative;
    box-shadow: 4px 2px 10px #11111190, -1px 0 2px #11111130;
    transform-style: preserve-3d;
    transition: transform .75s linear;
}

.news-source {
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 900;
    position: absolute;
    top: 20px;
    left: -20px;
    height: 30px;
    width: 120px;
    background-color: var(--primary-red);
    box-shadow: 0 3px 5px #11111190, 0 -3px 5px #11111130;
    border-radius: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    overflow: hidden;
    text-transform: uppercase;
    padding-right: 2rem;
}

.news-source::before {
    content: '';
    width: 40px;
    height: 50px;
    border-radius: 10%;
    transform: rotate(-45deg);
    background-color: var(--secondary-red);
    position: absolute;
    top: 0;
    left: -10px;
    box-shadow: 1px 2px 4px #11111170;
}

.news-front-side, .news-back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.news-front-side {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-black);
    padding-bottom: 1.5rem;
}

.news-front-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: var(--secondary-black);
}

.news-img {
    width: 100%;
    height: 225px;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
}

.news-headlines {
    padding: 1.5rem 1rem 0;
    margin: 0 1.5rem 0 10%;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-back-side {
    transform: rotateY(180deg);
    background-color: var(--secondary-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 2rem;
}

.news-back-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 60%;
    width: 400px;
    height: 400px;
    background-color: var(--primary-black);
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: inset 3px 2px 10px #111;
}

.news-des {
    height: 75%;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    margin-bottom: 1.5rem;
    word-spacing: .2rem;
}

.news-des::-webkit-scrollbar {
    visibility: hidden;
}

.visit-btn {
    width: max-content;
    padding: .3rem 1.5rem .2rem;
    border-radius: .8rem;
    background-color: #ffffff20;
    border: unset;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid transparent;
}

.visit-btn:hover {
    border: 2px solid var(--secondary-red);
}

.news-card-holder:hover .news-card {
    transform: rotateY(180deg);
}


/* side nav styles */
#side-nav {
    position: fixed;
    height: calc(100vh - 64px);
    top: 64px;
    background-color: #2A282A;
    background-color: #eee;
    font-weight: 600;
    font-size: 1.2rem;
    overflow: hidden;
    padding-top: 1rem;
    box-shadow: 1px 1px 1px #11111130;
    transition: transform .3s linear;
    transform-origin: left;
}

.close {
    transform: rotateY(180deg);

}

.open {
    transform: rotateY(0deg);
}

#side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-nav .nav-links {
    padding: 1rem 1.2rem;
    cursor: pointer;
}

.nav-links svg g {
    stroke-width: 2.5;
}

.nav-links svg {
    color: #ffffff99;
    color: #11111199;
}

#side-nav .nav-links:hover svg {
    color: var(--primary-white);
    color: #111;
}

#side-nav .nav-links:nth-child(5) {
    background-color: #ffffff15;
    background-color: #11111115;
}

/* loader-styles */
.loader-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader-cards-container {
    perspective: 400px;
    display: flex;
    align-items: center;
}


.loader-cards-container>div {
    width: 75px;
    height: 75px;
    position: relative;
    box-shadow: 2px 1px 3px #11111190, -1px 0 2px #11111130;
    transform-style: preserve-3d;
    animation: flip 1s infinite linear;
    margin: 0 1rem;
    background-color: var(--secondary-black);
}

.div-1, .div-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.div-2 {
    transform: rotateY(180deg);
}

.loader-div .heading {
    margin-top: 5rem;
    display: flex;
}

.loader-div .heading>span {
    animation: blink 1s infinite ease;
    display: inline-block;
}

@keyframes flip {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes blink {
    0%, 100% {
        opacity: .75;
    }

    50% {
        opacity: 1;
    }
}

.message{
    color:var(--secondary-black);
    font-weight: 600;
    position: absolute;
    top:100%;
    width: 90%;
    margin-top:2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    display:none;
}

.message svg{
    color:var(--secondary-red);
    margin-right: .3rem;
}

.no-data-msg{
    margin-top:10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.2rem;
    font-family: var(--heading-font);
    font-weight: 400;
    color:#555;
}

.no-data-msg svg{
    margin-right: 1rem;
}

section > .no-data-msg{
    margin-top:2rem;
}