*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    scroll-behavior: smooth;
}

input, a, li, button {
    color: inherit;
    background-color: inherit;
    font: inherit;
}
    
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

/* header-styles */
#header {
    background-color: var(--primary-black);
    color: var(--primary-white);
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 .8rem;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 10px #111;
    z-index: 10;
}

#search-div, .ham-holder {
    width: 20%;
}

#header-title {
    font-family: var(--heading-font);
    width: auto;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin: 0 1rem;
    padding: .3rem 0 .5rem;
}

#header-title::first-letter {
    background-image: url(https://wwpknightlynews.files.wordpress.com/2014/08/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg);
    -webkit-background-clip: text;
    font-size: clamp(2rem, 3.2vw, 2.6rem);
    color: #ffffff80;
}

#search-div {
    min-width: 350px;
    display: flex;
    align-items: center;
    background-color: var(--secondary-black);
    border-radius: .3rem;
    position: relative;
    margin: .3rem 0 .5rem;
}

#search-icon, #inp-clear-btn {
    width: max(23px, 1.75vw);
    margin: 0.5rem;
    filter: brightness(.8);
    cursor: pointer;
    border-radius: .3rem;
}

#inp-clear-btn {
    display: none;
}

#inp-clear-btn:focus {
    outline: none;
}

#search-icon:hover, #inp-clear-btn:hover {
    filter: brightness(1);
}

#search-inp-fld {
    overflow: hidden;
    flex-grow: 1;
    border: none;
    padding: 0 .8rem;
    border-left: 2px dashed var(--secondary-white);
}

#search-inp-fld::placeholder {
    color: #ffffff80;
}

#search-inp-fld:focus {
    outline: none;
}

#ham-btn {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: .5rem;
    border-radius: 10%;
    cursor: pointer;
}

#ham-btn>span {
    width: 23px;
    height: 2px;
    margin: .14rem;
    background-color: var(--primary-white);
    border-radius: 2rem 2rem 0 0;
    box-shadow: 1px 1px 2px var(--secondary-white);
}

#ham-btn>span:first-of-type {
    transform: skewY(2deg);
}

#ham-btn>span:last-of-type {
    transform: skewY(2deg);
}

#ham-btn>span:nth-of-type(2) {
    transform: skewY(-2deg);
    background-color: #bbbbc0;
}

#ham-btn:hover {
    background-color: #ffffff10;
}

#main {
    margin: 120px 100px;
    --secondary-black: #1e1d1e;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 240px);
    user-select: none;
}

/* news card styles */
.category-topics-container, .searched-topic-container, .world-news-container,
.country-news-container, .local-news-container, main section {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.95rem;
    border-bottom: 1px dashed #11111125;
    padding: 1.5rem 0;
    position: relative;
}

.searched-topic-container .news-card-wrapper, .world-news-container .news-card-wrapper,
.country-news-container .news-card-wrapper, .local-news-container .news-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading {
    font-family: var(--primary-font);
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-transform: uppercase;
    align-self: center;
    color: #555555;
}

.heading::first-letter {
    font-size: clamp(2rem, 3.2vw, 2.6rem);
    background-image: url(https://wwpknightlynews.files.wordpress.com/2014/08/depositphotos_13732950-stock-photo-background-of-old-vintage-newspapers.jpg);
    -webkit-background-clip: text;
    color: #55555599;
}

.arrow-div {
    user-select: none;
    align-self: center;
}

.arrow-div svg {
    cursor: pointer;
    margin: 0 .5rem;
    color: #444;
    width: 50px;
}

.arrow-div svg:hover {
    color: var(--secondary-black);
}

.news-card-wrapper {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.news-card-holder {
    color: #eff;
    margin: 4rem 3rem;
    perspective: 1000px;
}

.news-card {
    width: 400px;
    height: 370px;
    position: relative;
    box-shadow: 4px 2px 10px #11111190, -1px 0 2px #11111130;
    transform-style: preserve-3d;
    transition: transform .75s linear;
}

.news-source {
    font-size: 1rem;
    font-family: var(--heading-font);
    font-weight: 900;
    position: absolute;
    top: 20px;
    left: -20px;
    height: 30px;
    width: 120px;
    background-color: var(--primary-red);
    box-shadow: 0 3px 5px #11111190, 0 -3px 5px #11111130;
    border-radius: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
    overflow: hidden;
    text-transform: uppercase;
    padding-right: 2rem;
}

.news-source::before {
    content: '';
    width: 40px;
    height: 50px;
    border-radius: 10%;
    transform: rotate(-45deg);
    background-color: var(--secondary-red);
    position: absolute;
    top: 0;
    left: -10px;
    box-shadow: 1px 2px 4px #11111170;
}

.news-front-side, .news-back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.news-front-side {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-black);
    padding-bottom: 1.5rem;
    overflow: hidden;
}

.news-front-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: var(--secondary-black);
}

.news-img {
    width: 100%;
    height: 65%;
    z-index: 1;
    user-select: none;
    -webkit-user-drag: none;
}

.news-headlines {
    height: 35%;
    padding: 1.5rem 1rem 0;
    margin: 0 1.5rem 0 10%;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-back-side {
    transform: rotateY(180deg);
    background-color: var(--secondary-black);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5rem 2rem;
}

.news-back-side::before {
    content: '';
    position: absolute;
    top: 0;
    left: 60%;
    width: 400px;
    height: 400px;
    background-color: #222;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: inset 3px 2px 10px #111;
}

.news-des {
    height: 75%;
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    margin-bottom: 1.5rem;
    word-spacing: .2rem;
    padding-right: 1rem;
}

.news-des::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.news-des::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.news-des::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

.news-des:hover::-webkit-scrollbar {
    background-color: var(--secondary-black);
}

.news-des:hover::-webkit-scrollbar-thumb {
    background-color: var(--primary-red);
}

.news-des:hover::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-red);
}

.visit-btn {
    width: max-content;
    padding: .3rem 1.5rem .2rem;
    border-radius: .8rem;
    background-color: #ffffff20;
    border: unset;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid transparent;
}

.visit-btn:hover {
    border: 2px solid var(--secondary-red);
}

.news-card-holder:hover .news-card {
    transform: rotateY(180deg);
}


/* side nav styles */
#side-nav {
    position: fixed;
    height: 100vh;
    top: 0;
    background-color: #eee;
    font-weight: 600;
    z-index: 1;
    padding-top: 5rem;
    box-shadow: 1px 1px 1px #11111130;
    transition: transform .3s linear;
    transform-origin: left;
}

.close {
    transform: rotateY(180deg);

}

.open {
    transform: rotateY(0deg);
}

#side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-nav .nav-links {
    padding: 1rem 1.2rem;
    cursor: pointer;
    position: relative;
}

.nav-links svg g {
    stroke-width: 2.5;
}

.nav-links svg {
    color: #11111199;
    font-size: 26px;
}

#side-nav .nav-links:hover svg, #side-nav .nav-links:focus svg {
    color: #111111;
}

#side-nav .nav-links:focus {
    outline: none;
}

.pseudo-title:hover:after, .pseudo-title:focus:after {
    content: attr(data-title);
    display: flex;
    align-items: center;
    max-height: 27px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    color: #555;
    background-color: #f0f0f0;
    padding: .3rem .5rem;
    margin-left: 0.85rem;
    white-space: nowrap;
    border: 1px solid #55555590;
    border-left: 4px solid var(--secondary-red);
    border-radius: .5rem;
    font-size: clamp(.6rem, 2vw, .8rem);
    font-weight: 600;
    z-index: 20;
}

.pseudo-title:hover::before, .pseudo-title:focus::before {
    content: url('https://api.iconify.design/bx/bxs-left-arrow.svg?color=%23cc6060&width=10');
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: .2rem;
    color: var(--secondary-red);
    font-size: .85rem;
}

.left:hover::after, .left:hover::before, .left:focus::after, .left:focus::before {
    left: unset;
    right: 100%;
    transform: translateY(-60%);
}

.left:hover:after, .left:focus:after {
    margin: unset;
    margin-right: .85rem;
    border-left: 1px solid #55555590;
    border-right: 4px solid var(--secondary-red);
}

.left:hover:before,
.left:focus:before {
    content: url('https://api.iconify.design/bx/bxs-right-arrow.svg?color=%23cc6060&width=10');
    margin: unset;
    margin-right: 0.2rem;
}

.selected-menu {
    background-color: #11111115;
}

/* loader-styles */
.loader-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.loader-cards-container {
    perspective: 400px;
    display: flex;
    align-items: center;
}


.loader-cards-container>div {
    width: 75px;
    height: 75px;
    position: relative;
    box-shadow: 2px 1px 3px #11111190, -1px 0 2px #11111130;
    transform-style: preserve-3d;
    animation: flip 1s infinite linear;
    margin: 0 1rem;
    background-color: var(--secondary-black);
}

.div-1, .div-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.div-2 {
    transform: rotateY(180deg);
}

.loader-div .heading {
    margin-top: 5rem;
    display: flex;
}

.loader-div .heading>span {
    animation: blink 1s infinite ease;
    display: inline-block;
}

@keyframes flip {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes blink {
    0%, 100% {
        opacity: .75;
    }

    50% {
        opacity: 1;
    }
}

.message {
    color: var(--secondary-black);
    font-weight: 600;
    position: absolute;
    top: 100%;
    width: 90%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    display: none;
}

.message svg {
    color: var(--secondary-red);
    margin-right: .3rem;
}

.no-data-msg {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-family: var(--heading-font);
    font-weight: 400;
    color: #555;
}

.no-data-msg svg {
    margin-right: 1rem;
}

section>.no-data-msg {
    margin-top: 2rem;
}

.list {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90%, 580px);
    margin: 0 auto;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-family: var(--heading-font);
    background-color: #fff;
    color: #555;
    box-shadow: 4px 5px 9px #11111130, -4px -5px 9px #11111130;
    border-radius: 1rem;
    overflow: hidden;
}

.list .heading, #credits-container .heading {
    text-align: center;
    border-bottom: 1px dashed #11111130;
    padding: 1rem;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight: 600;
    background-color: #55555510;
}

.list .heading::first-letter, #credits-container .heading::first-letter {
    font-size: clamp(1.6rem, 3vw, 1.9rem);
}

.list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: max-content;
    max-height: 70vh;
    overflow-y: auto;
}

.list li {
    padding: 1rem 2rem;
    cursor: pointer;
}

.list span {
    margin-right: 1rem;
}

.list li:hover, .list li:focus {
    background-color: rgb(250, 235, 235);
    outline: none;
}

.list ul::-webkit-scrollbar {
    width: 8px;
}

.change-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5rem;
    cursor: pointer;
    color: var(--secondary-red);
    display: none;
}

.change-btn svg {
    font-size: clamp(30px, 4vw, 40px);
}

.change-btn:hover, .change-btn:focus {
    transform: scale(1.1);
    outline: none;
}

/* credits styles */
#credits-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
    font-size: clamp(1.3rem, 4.5vw, 1.6rem);
    color: #555;
}

.credits-holder {
    width: min(90vw, 500px);
    height: min(60vw, 330px);
    min-height: 230px;
    transform-style: preserve-3d;
    position: relative;
    transition: transform .75s linear;
}

.credits-holder>.front-side, .credits-holder>.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 4px 5px 9px #11111130, -4px -5px 9px #11111130;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits-holder>.back-side {
    transform: rotateX(180deg);
}

.credits-holder .heading {
    width: 100%;
}

.back-side>ul, .front-side>ul {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}

.back-side li, .front-side li {
    margin: clamp(1rem, 4vw, 1.5rem) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-side a, .front-side a {
    margin: 0 1rem;
    position: relative;
}

.credits-holder a>svg {
    font-size: clamp(40px, 4vw, 50px);
}

.credits-holder a:hover>.iconify, .credits-holder a:hover>.iconify {
    color: var(--primary-red) !important;
}

.credits-holder h5 {
    position: relative;
}

.credits-holder h5>.iconify {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-left: 1.2rem;
    cursor: pointer;
}

.credits-holder h5>.iconify:hover, .credits-holder h5>.iconify:focus {
    color: #111 !important;
}

.none {
    display: none;
}

.show-back {
    transform: rotateX(180deg);
}

@media (max-width:1200px) {
    #main {
        margin: 100px 60px;
    }

    .news-card {
        width: 380px;
        height: 350px;
    }

    .category-topics-container, .searched-topic-container, .world-news-container,
    .country-news-container, .local-news-container, main section {
        font-size: 1.1rem;
    }

    .news-source, .visit-btn {
        font-size: .9rem;
    }

    .news-source {
        width: 100px;
        padding-right: 1.5rem;
        height: 28px;
    }

    .news-card-holder {
        margin: 3.5rem 2.5rem;
    }
}

@media (max-width:1050px) {
    .news-card {
        width: 360px;
        height: 340px;
    }

    .news-source, .visit-btn {
        font-size: .8rem;
    }

    .news-source {
        width: 80px;
        height: 26px;
        padding-right: .85rem;
    }

    .visit-btn {
        padding: .2rem 1.3rem .1rem;
    }

    #side-nav .nav-links {
        padding: .8rem 1rem;
    }

    .nav-links svg {
        font-size: 23px;
    }
}

@media (max-width:650px) {
    #main {
        margin: 100px 50px;
    }

    #search-div {
        min-width: unset;
    }

    #search-div, .ham-holder {
        width: max-content;
    }

    #search-inp-fld {
        display: none;
    }

    #inp-clear-btn {
        display: none;
    }

    #side-nav .nav-links {
        padding: .7rem .9rem;
    }

    .nav-links svg {
        font-size: 20px;
    }

    .news-card-holder {
        margin: 3rem 2rem;
    }

    .news-card {
        width: 330px;
        height: 300px;
    }

    .category-topics-container, .searched-topic-container, .world-news-container,
    .country-news-container, .local-news-container, main section {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .news-source {
        width: 70px;
        height: 25px;
        font-size: .75rem;
    }

    .news-source::before {
        width: 35px;
    }

    .visit-btn {
        padding: .15rem 1.1rem .08rem;
    }

    .news-back-side {
        padding: 2rem 2rem 1.5rem;
    }

    .arrow-div svg {
        width: 40px;
    }

    .list ul::-webkit-scrollbar {
        width: 5px;
    }

    .news-des:hover::-webkit-scrollbar {
        width: 3px;
    }
}


@media (max-width:500px) {
    #main {
        margin: 90px 45px;
    }

    #side-nav .nav-links {
        padding: .6rem .8rem;
    }

    .nav-links svg {
        font-size: 18px;
    }

    .news-card-holder {
        margin: 1.8rem 1.5rem;
    }

    .news-card {
        width: 310px;
        height: 280px;
    }

    .news-source {
        width: 70px;
        height: 25px;
        font-size: .75rem;
        top: 15px;
        left: -7px;
    }

    .list li {
        padding: .8rem 1.8rem;
    }

    .news-source::before {
        width: 30px;
    }
}

@media (max-width:450px) {
    #main {
        margin: 80px 20px;
    }
}

@media (max-width:390px) {
    #main {
        margin: 70px 8px;
    }

    .news-card {
        width: 280px;
        height: 260px;
    }

    .category-topics-container, .searched-topic-container, .world-news-container,
    .country-news-container, .local-news-container, main section {
        font-size: .9rem;
        line-height: 1.3rem;
    }

    .news-source {
        width: 65px;
        height: 24px;
        font-size: .7rem;
    }
}